<div class=" container d-flex justify-content-md-center align-items-center">



    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
  
        <img class="mb-4" src="./assets/imagenes/logo_Arg_Pro.png" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">
          <p class="text-light">Nuevo Proyecto </p></h1>
          
        <div class="form-group">
          <input type="text" id="nombreP" name="nombreP" class="form-control form-control-lg" [(ngModel)]="nombreP" name="nombreP" required />
          <label class="form-label text-light" for="nombreP">Nombre del Proyecto</label>
        </div>
          
        <div class="form-group">
          <input type="text" id="descripcionP" class="form-control form-control-lg" [(ngModel)]="descripcionP" name="descripcionP" required />
          <label class="form-label text-light" for="descripcionP" >Descripción del Proyecto</label>
        </div>
         
        <div class="form-group">
            <input type="url" id="imagenP" name="imagenP" class="form-control form-control-lg" [(ngModel)]="imagenP" name="imagenP" required />
            <label class="form-label text-light" for="imagenP">url de la imágen</label>
        </div>

        <div class="form-group">
          <input type="url" id="url" name="url" class="form-control form-control-lg" [(ngModel)]="url" name="url" required />
          <label class="form-label text-light" for="url">url del proyecto</label>
      </div>
              
           
        <button class="w-100 btn btn-lg btn-primary" type="submit">Agregar Proyecto</button>
          
    </form>
    </div>
