<div class=" container d-flex justify-content-md-center align-items-center" *ngIf="skills">



    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
  
        <img class="mb-4" src="./assets/imagenes/logo_Arg_Pro.png" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">
          <p class="text-light">Nuevas Skills </p></h1>
          
        <div class="form-group">
          <input type="text" id="nombreSkills" name="nombreSkills" class="form-control form-control-lg" [(ngModel)]="skills.nombreSkills" name="nombreSkills" required>
          <label class="form-label text-light" for="nombreSkills">Hard and Soft Skills</label>
        </div>
     
        <div class="form-group">
          <input type="number" id="porcentaje" class="form-control form-control-lg" [(ngModel)]="skills.porcentaje" name="porcentaje" required />
          <label class="form-label text-light" for="porcentaje" >progreso</label>
        </div>
                 
        <button class="w-100 btn btn-lg btn-primary" type="submit">Actualizar Skills</button>
          
    </form>
    </div>
